.meetVideoContainer {
  position: relative;
  height: 100vh;
  background: rgb(1, 4, 48);
}

.meetUserVideo {
  height: 20vh;
  width: auto;
  border-radius: 20px;
}

.videoContainer {
  font-family: "Roboto", sans-serif;
  position: absolute;
  bottom: 1vh;
  height: 27vh;
  left: 0;
  /* border: 2px solid #22da25; */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

.videoContainerOthers {
  border: 2px solid #2196f3;
  border-radius: 10px;
  padding: 10px;
  background-color: #222;
  text-align: center;
  color: white;
  width: auto;
}

.buttonContainers {
  position: absolute;
  width: 100vw;
  bottom: 0;
  text-align: center;
}

.buttonContainers svg {
  font-size: 3rem;
}

.conferenceView {
  display: flex;
  padding: 10px;
  gap: 10px;
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
}

.conferenceView video {
  width: 40vw;
  height: 20vh;
  min-width: 30vw;
  border-radius: 10px;
}

.chatRoom {
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 2vh;
  height: 95vh;
  right: 2vh;
  background: white;
  border-radius: 10px;
  width: 30vw;
  padding-inline: 20px;
}

.LobbyContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  font-family: "Roboto", sans-serif;
  padding-inline: 20px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow:
    0 10px 20px rgba(0, 0, 0, 0.2),
    0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 50vw;
  margin: 50px auto 0 auto;
  position: relative;
  z-index: 10;
  max-height: 95vh;
  padding: 20px 0 40px 0;
}

.LobbyButtons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.chatContainer {
  position: relative;
  height: 100%;
}

.chattingDisplay {
  height: calc(100% - 150px);
  overflow-y: auto;
}

.chattingArea {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 1vh;
  height: 70px;
}
